<head>
</head>
<body>
<p id="status">Connecting...</p>
<textarea type="text" id="tosend" value="RPC request" cols="60" rows="10"></textarea>
<div id="button">
    <button id="sendbutton" type="button">Send RPC</button>
</div>
<p id="result"></p>
<textarea type="text" id="nodemsg" value="Result will be here" cols="60" rows="10"></textarea>
<script src="./index.js">
</script>
</body>
